# DOMAIN_NAME and SUBDOMAIN together determine where n8n will be reachable from
# The top level domain to serve from
DOMAIN_NAME=n8n.example.com

# The above example serve n8n at: https://n8n.example.com

# Optional timezone to set which gets used by Cron and other scheduling nodes
# Default is America/New_York if not set
GENERIC_TIMEZONE=America/New_York

# The email address to use for the TLS/SSL certificate creation
SSL_EMAIL=user@example.com
