services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    # Optional - specify the uid and gid you would like Jellyfin to use instead of root
    #user: uid:gid
    ports:
      - 8096:8096/tcp
      - 7359:7359/udp
    volumes:
      - ./config:/config
      - ./cache:/cache
      - type: bind
        source: <path/to/media/folder>
        target: /media
        read_only: true
      - type: bind # Optional - extra fonts to be used during transcoding with subtitle burn-in
        source: ./fonts
        target: /usr/local/share/fonts/custom
        read_only: true
    restart: 'unless-stopped'
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    labels:
      - 'traefik.http.routers.jellyfin.rule=HostRegexp(`^jellyfin\..+$`) || PathPrefix(`/jellyfin`)'
      - "traefik.http.middlewares.jellyfin-remove-prefix.stripprefix.prefixes=/jellyfin"
      - "traefik.http.routers.jellyfin.middlewares=jellyfin-remove-prefix"
      - "traefik.http.services.jellyfin.loadbalancer.server.port=8096/tcp"
      - "traefik.docker.network=traefik-network"
    networks:
      - default
      - traefik-network
networks:
  traefik-network:
    external: true
