# Variables defined here will be available to use anywhere in the config with the syntax ${MY_SECRET_TOKEN}
# Example: API tokens, GitHub tokens, or any sensitive data you want to keep out of version control
# Note: making changes to this file requires re-running docker compose up
MY_SECRET_TOKEN=your_secret_token_here
